<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Goodbye!</title>
  </head>
  <body>
    <% name = "Anna" %>
  <h1>Goodbye <%= name %>!</h1>
  </body>
</html>


<!--This is how i comment, command+?-->